{
    "database":{
        "user":"postgres",
        "host":"localhost",
        "database":"crud_flutter",
        "password":"",
        "port":5432
    },
    "testing_mail":{
        "production":true,
        "host":"smtp.gmail.com",
        "secure":true,
        "port":465,
        "auth":{
            "user":",
            "pass":""
        }
    }
}