<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CDN Spectre css -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/zlux.js"></script>
    <script src="/assets/js/import.js"></script>
    <script src=''></script>
    
    <title id="Title"></title>
</head>
<body>
    
    <div id="App">
    </div>
    <div id="modal"></div>

    <!-- js -->
    <script src="/assets/libs/axios.min.js"></script>

   
    <!-- libs -->
    <!-- <script src="/assets/libs/router.js"></script>
    <script src="/assets/js/router.js"></script> -->
    <script src="/assets/libs/router.js"></script>
    <script src="/assets/libs/router.js"></script>
    <script>
        window.onload = function()
        {

            requireModuleInnerBody('/assets/js/router.js')
            requireModuleInnerBody('https://www.google.com/recaptcha/api.js')
        }

        
    </script>

</body>
</html>